# # Игнорировать всё
# *

# Кроме самого .gitignore
!.gitignore

# Виртуальные окружения и IDE
.venv/
.vscode/
.idea/
.gigaide/

# Логи и временные файлы
mysite/logs/
mysite/work_filer/

# Прочие директории
work_filer/
prompts/
