# # Игнорировать всё
# *

# Кроме самого .gitignore
!.gitignore

# Виртуальные окружения и IDE
.venv/
.vscode/
.idea/
.gigaide/

# Прочие директории
.vscode/
work_filer/
prompts/
mysite/logs/debug.log
