# # Игнорировать всё
# *

# Кроме самого .gitignore
# !.gitignore

# Виртуальные окружения и IDE
.venv/
.vscode/
.idea/
.gigaide/

# Логи и временные файлы
mysite/logs/
mysite/work_filer/

# Прочие директории
OLD/
.OLD/
work_filer/
prompts/

# База данных и секреты
db.sqlite3
*.sqlite3
.env

# Кеш python
__pycache__/
*.py[cod]
