<!-- index.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ site_settings }} - {{ site_settings.logo_text }}
{% endblock %}


{% block content %}
<!-- Hero Section  -->
{% include 'Hero.html' %}

<!-- Content Section - на всю ширину -->
<section class="bg-light">
    <div class="container-fluid">
        <div class="row m-5">
            <div class="col-12">
                <h2 class="display-5 fw-bold">Добро пожаловать!</h2>
                <p class="lead">
                    {{ site_settings.content|safe }}
                </p>
                <p class="fs-5"></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}