SECRET_KEY=django-insecure-gg&b-34chy82xwd424vn41_=i=nr$2mrxm5_-xj(ev6ed#h+_=
DEBUG=False
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DJANGO_LANGUAGE_CODE=ru
DJANGO_TIME_ZONE=Europe/Moscow
DJANGO_USE_I18N=True
DJANGO_USE_TZ=True
