<!-- Контейнер для копирайта с выравниванием по центру на мобильных и по левому краю на больших экранах -->
<div class="text-left text-md-start mt-4">
    <!-- Текст копирайта с отступом снизу и специальным классом для стилизации -->
    <p class="mb-2 footer-text-copy small">
        <!-- Символ копирайта, текущий год и название бренда -->
        &copy; {% now "Y" %} {{ site_settings.logo_text }}.
        <!-- Курсивный текст о правах -->
        <span class="d-block d-md-inline">Все права защищены.</span>
    </p>
</div>