/* Стили для форм (создание заказа и других) */
.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.card {
    border-radius: 15px;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
}
.img_hero {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btn {
    border-radius: 8px;
}