{% comment %} Бейджи {% endcomment %}
<!-- Бейджи с тегами услуг -->
<div class="d-flex flex-wrap gap-2 mt-3">
    <span class="badge bg-light text-primary fs-6"># Пользователи</span>
    <span class="badge bg-light text-primary fs-6"># Клиенты</span>
    <span class="badge bg-light text-primary fs-6"># Партнеры</span>
    <span class="badge bg-light text-primary fs-6"># Администраторы</span>
    <span class="badge bg-light text-primary fs-6"># Сотрудники</span>
    <span class="badge bg-light text-primary fs-6"># Аналитики</span>
</div>
