{% load news_tags %}
{% if popular_news %}
<div class="popular-news-widget">
  {% for item in popular_news %}
  <a href="{{ item.get_absolute_url }}" class="popular-news-item text-decoration-none">
    <span class="popular-news-rank">{{ forloop.counter }}</span>
    <div class="popular-news-info">
      <div class="popular-news-title">{{ item.title|truncate_chars:65 }}</div>
      <div class="popular-news-meta">
        <span><i class="far fa-eye"></i>{{ item.views }}</span>
        <span><i class="far fa-calendar-alt"></i>{{ item.published_at|ru_date:"short" }}</span>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endif %}
