<!-- reviews/templates/reviews/list.html -->
{% extends "_base.html" %}
{% load static %}

{% block title %}
{{ site_settings.logo_text }} -
Все отзывы
{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
    <!-- Заголовок страницы -->
    <div class="row mb-5 text-left">
        <div class="col-lg-8 mx-auto">
            <span class="badge text-primary bg-primary-subtle rounded-pill px-3 py-1 mb-2 fw-bold">ОТЗЫВЫ</span>
            <h1 class="display-4 fw-bold mb-3">Мнения наших клиентов</h1>
            <p class="lead text-muted">Читайте отзывы о нашей работе от реальных клиентов и делитесь своим опытом сотрудничества.</p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 text-end">
            <a href="{% url 'reviews:add' %}" class="btn btn-primary">Добавить отзыв</a>
        </div>
    </div>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    {% for review in reviews %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ review.full_name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ review.created_at|date:"d.m.Y H:i" }}</h6>
            <p class="card-text">{{ review.message }}</p>
        </div>
    </div>
    {% empty %}
    <div class="alert alert-info">
        Пока нет отзывов. Будьте первым!
    </div>
    {% endfor %}
</div>
{% endblock %}