/* Основные стили для карточек новостей */
.card-news-link {
    width: 100% !important;
    text-align: center;
    padding: 10px !important;
    margin: 10% !important;
}

/* Стили для карточек новостей */
.news-card {
    transition: transform 0.3s ease;
    border: none;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 60px !important;
}

.news-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
    text-decoration: none;
}

.news-card .card-img-top {
    height: 400px;
    object-fit: cover;
}

.news-card .card-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
}

.news-card .card-text {
    flex-grow: 1;
}

.news-card .card-title {
    font-weight: 600;
    color: #2c3e50;
    margin-bottom: 0.75rem;
}

/* .news-image-placeholder {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #f8f9fa;
} */

/* Изображение новости */
.news-image-detail {
    width: 100% !important;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Заголовок новости */
.news-title-detail {
    font-size: 3rem;
    font-weight: 600;
    color: #2c3e50;
    margin-bottom: 0.75rem;
}

.default-image {
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}