{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<div class="module">
    <h2>{{ title }}</h2>
    <p>{% trans "Вы уверены, что хотите очистить следующие файлы?" %}</p>
    
    <ul>
        {% for file in files %}
        <li>{{ file.name }} ({{ file.file_path }})</li>
        {% endfor %}
    </ul>
    
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="confirm" value="1">
        <input type="submit" value="{% trans "Да, очистить" %}" class="button">
        <a href="{% url 'admin:main_managedfile_changelist' %}" class="button">{% trans "Отмена" %}</a>
    </form>
</div>
{% endblock %}